requests
pywhatkit
AppOpener
beautifulsoup4
Pillow
python-dotenv
rich
cohere
groq
pygame
edge-tts
pyautogui
mtranslate
ddgs
google-genai
eel
googlesearch-python
smtplib
keyboard 
google-generativeai
psutil
wikipedia
geopy
geocoder